{% extends "nav.html" %}

{% block content %}
    <h1>Stock by Dish</h1>
    
    <form action="" method="POST">

            {{form2.hidden_tag()}}

        <p>
            {{ form2.dish.label }} {{ form2.dish }}
            {{form2.submit3()}}
        </p>

    </form>

    <b1>
        {%if signal%}
            <div class="data row">
                <div>

                    {% for item in finalList %}
                        <li> {{ item }}  </li>
                    {% endfor %}

                </div>
            </div>
        {%endif%}
    </b1>

{% endblock %}