{% extends "nav.html" %}

{% block content %}

<div class="container">
		<div class="row">
			<div class="col-sm" class="container2" id="background_">
					
					<h2 id = "loginbody" class= "font_HighVoltage">
							Disposal Form
					</h2>
	
					<form method="POST"  id = "loginbody">
							{{form.hidden_tag()}}

							<ul class="list-group-item">

									<li class="list-group-item d-flex justify-content-between">
											<div> {{ form.ingredient.label }}&nbsp;: </div>
											<div> {{ form.ingredient }} </div>
									</li> <br>
									                                 
                                    <li class="list-group-item d-flex justify-content-between">
											<div> {{form.quantity.label}}&nbsp;:</div>
											<div> {{form.quantity}}</div>
                                    </li> <br>
                                    
                                    <li class="list-group-item d-flex justify-content-between">
											<div> {{form.usercomment.label}}</div>
											<div> &nbsp;:&nbsp;&nbsp;&nbsp;</div>
											<div> {{form.usercomment(size=30)}}</div>
									</li>
							</ul>
								
							<div id = "loginbody">
								<br>{{form.submit()}}
							</div>
					</form>
			</div>
			
			<div class="col-sm">
		
			</div>
	
			<div class="col-sm">
		
			</div>
		</div>   
</div>

{% endblock %}