{% extends "nav.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm" class="container2" id="background_">
			<h2 id = "loginbody" class= "font_HighVoltage">
					Current Menu
			</h2>
			<div  id = "loginbody">
					<ul class="list-group-item">
						{% for i, dish in all %}
						<li class="list-group-item d-flex justify-content-start">
								<div> {{i+1}}.&nbsp;&nbsp;</div>
								<div> {{dish}} </div>
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>
		
		<div class="col-sm">
	
		</div>
	</div>  
</div>

{% endblock %}