<div id = "loginpage">
	<head>
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}"></link>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>

	<h1>
		<div id="mainheading">MASTERKITCHEN INVENTORY<br></div>

		<div id="subheading">For all your kitchen needs</div>
	</h1>

	{% with messages = get_flashed_messages()%}
		{%if messages%}

			<ul>

				{%for message in messages%}
				<li>{{message}}</li>
				{%endfor%}

			</ul>

		{%endif%}
	{%endwith%}
	
	<div id = "loginbody">
		<form id="block" action="" method="POST">
			<p id = "login">LOGIN</p>
				{{form.hidden_tag()}}
			<div id = "mainform">
				<p> {{ form.username.label }} : {{ form.username }} </p>
				<p> {{ form.password.label }} : {{ form.password }} </p>
				<p> {{ form.submit }} <a href="/register">Register</a></p>
			</div>
		<form>
	</div>
</div>