{% extends "nav.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <br> 
            <br>
            <br>       
            <h1 id = "font_script" style="font-size: 60;">Welcome</h1>
            <h1 id = "font_script" style="font-size: 60;">to</h1>
            <h1 id = "font_script" style="font-size: 60;">Master kitchen!</h1>
        </div>
    
        <div class="col-sm">

        </div>

        <div class="col-sm" class="container2">
					
                <h2 id = "loginbody" class= "font_HighVoltage" >
                        <br>   
                        <quik  >Quick Access</quik>
                </h2>

                <form method="POST"  id = "loginbody">
                        {{form.hidden_tag()}}

                        <ul class="list-group-item" style="list-style-type: none;">

                                <li >
                                        <div> {{form.currentMenu(class="btn-block btn btn btn-dark")}}
                                </li> <br>

                                <li >
                                        <div> {{ form.newDish(class="btn-block btn btn btn-dark")}}
                                </li> <br>

                                <li >
                                        <div> {{form.stock(class="btn-block btn btn btn-dark")}}
                                </li> <br>

                                <li >
                                        <div> {{form.dispose(class="btn-block btn btn btn-dark")}}
                                </li>
                                                                
                        </ul>
                </form>
        </div>
    </div>   
</div>

<footer id="footer">

        <p class="font_HighVoltage" style="font-weight: bold;">    
                About Us
        </p>

        <p style="font-weight: 520;" style="opacity: 0.8;">    
        "Master Kitchen Inventory" is an easy-to-use restaurant<br>
        inventory management software, designed to streamline
        back-of-house and front of-the-house<br>
        restaurant inventory operations.
        </p>

</footer>

{% endblock %}
