{% extends "nav.html" %}
{% block content %}
<script type="text/javascript">
    function GetDynamicTextBox(idnum){
        // s = '{{ form.ingredient.label }} {{ form.ingredient }}'+
        //          '{{form.quantity.label}} {{form.quantity}}'+
        //          '{{ form.measure.label }} {{ form.measure }}'+
        //         '<input type="button" value="Remove" onclick="RemoveTextBox(this)" />'
        
        // return s
        return `<p style="width:20px; display:inline-block; ">${(idnum+1).toString()})</p> 
            Ingredient: \xa0\xa0<input name = "ingredient${idnum.toString()}" type="text"/>` +`\xa0\xa0\xa0\xa0\xa0`+
            `  Quantity: \xa0\xa0<input name = "quantity${idnum.toString()}" type="text" />` +`\xa0\xa0\xa0\xa0\xa0`+
            // `  Measure: <input name = "measure${idnum.toString()}" type="text" />` +
            ` Measure: \xa0\xa0<select name="measure${idnum.toString()}""> 
                <option disabled selected value> -- select an option -- </option>
                <option value="unit">unit</option>
                <option value="gr">gr</option>
                <option value="ml">ml</option>
                </select>` + `\xa0\xa0\xa0\xa0`+
            ` <input type="button" class="btn btn-warning" value="Remove" onclick="RemoveTextBox(this)" />`+`\n`
    }
    function AddTextBox() {
        var div = document.createElement('DIV');
        var idnum = document.getElementById("TextBoxContainer").childNodes.length;
        // div.setAttribute("id", "div"+idnum.toString())
        div.innerHTML = GetDynamicTextBox(idnum);
        document.getElementById("TextBoxContainer").appendChild(div);
    }

    function RemoveAllBoxes(div){
        var node = document.getElementById("TextBoxContainer");
        node.innerHTML = "";
    }
    
    function RemoveTextBox(div) {
        document.getElementById("TextBoxContainer").removeChild(div.parentNode);
        // need to renumber
    }

    function RecreateDynamicTextboxes() {
        var values = eval('<%=Values%>');
        if (values != null) {
            var html = "";
            for (var i = 0; i < values.length; i++) {
                html += "<div>" + GetDynamicTextBox(values[i]) + "</div>";
            }
            document.getElementById("TextBoxContainer").innerHTML = html;
        }
    }
    window.onload = RemoveAllBoxes;
</script>

<div class="container">
    <div class="row">
        <div class="col-sm" class="container2" id="background_">
                
                <h2 id = "loginbody" class= "font_HighVoltage">
                        New Dish
                </h2>
                	
                <form method="POST"  id = "loginbody">

                        {{done.hidden_tag()}}

                        <ul class="list-group-item">

                                <li class="list-group-item d-flex justify-content-around">
                                        <div style="font-weight: bolder;"> Dish Name:</div>
                
                                        <div> {{done.name(size=60)}} </div>
                                </li> <br>
                                <i>Valid unit measures are: ml, gr and unit.</i>
                                <li class="list-group-item d-flex justify-content-between">

                                        <input id="btnAdd" type="button" class="btn btn-primary" value="Add Ingredient"  onclick="AddTextBox()" />
                                        <input id="btnDel" type="button" class="btn btn-danger" value="Remove All Ingredients" onclick="RemoveAllBoxes()">
                                </li>

                                <li class="list-group-item d-flex justify-content-between">

                                    <div id="TextBoxContainer">
                                        <!--Textboxes will be added here -->
                                        
                                    </div> 
                                </li><br> 
                        </ul>
                            
                        <div id = "loginbody">
                            {{done.clicky(class="btn btn-success")}}
                        </div>
                </form>
        </div>
    </div>   
</div>
{%endblock%}