{% extends "nav.html" %}
{% block content %}
<script type="text/javascript">
    function GetDynamicTextBox(idnum){
        // s = '{{ form.ingredient.label }} {{ form.ingredient }}'+
        //          '{{form.quantity.label}} {{form.quantity}}'+
        //          '{{ form.measure.label }} {{ form.measure }}'+
        //         '<input type="button" value="Remove" onclick="RemoveTextBox(this)" />'
        
        // return s
        return `<p style="width:20px; display:inline-block; ">${(idnum+1).toString()})</p> 
            Ingredient: <input name = "ingredient${idnum.toString()}" type="text"/>` +
            `  Quantity: <input name = "quantity${idnum.toString()}" type="text" />` +
            // `  Measure: <input name = "measure${idnum.toString()}" type="text" />` +
            ` Measure: <select value="measure${idnum.toString()}> 
                <option value = " "> " " </option>
                <option disabled selected value> -- select an option -- </option>
                <option value = "unit">unit</option>
                <option value = "gr">gr</option>
                <option value = "ml">ml</option>
                </select>` +
            ` <input type="button" value="Remove" onclick="RemoveTextBox(this)" />`
    }
    function AddTextBox() {
        var div = document.createElement('DIV');
        var idnum = document.getElementById("TextBoxContainer").childNodes.length;
        // div.setAttribute("id", "div"+idnum.toString())
        div.innerHTML = GetDynamicTextBox(idnum);
        document.getElementById("TextBoxContainer").appendChild(div);
    }

    function RemoveAllBoxes(div){
        var node = document.getElementById("TextBoxContainer");
        node.innerHTML = "";
    }
    
    function RemoveTextBox(div) {
        document.getElementById("TextBoxContainer").removeChild(div.parentNode);
        // need to renumber
        
    }

    function RecreateDynamicTextboxes() {
        var values = eval('<%=Values%>');
        if (values != null) {
            var html = "";
            for (var i = 0; i < values.length; i++) {
                html += "<div>" + GetDynamicTextBox(values[i]) + "</div>";
            }
            document.getElementById("TextBoxContainer").innerHTML = html;
        }
    }
    window.onload = RemoveAllBoxes;
</script>
    <h1>
		Make Dish
	</h1>
    <body>
        <p>
            <form action="" method="POST">
                {{done.hidden_tag()}}
                Dish Name
                {{done.name()}} <br /> <br />
                <i>Note: as of now, the only valid measures are unit, ml, gr</i>
                <br /> <br />
                <input id="btnAdd" type="button" value="Add Ingredient" onclick="AddTextBox()" />
                <input id="btnDel" type="button" value="Remove All Ingredients" onclick="RemoveAllBoxes()">
                <br />
                <br />
                <div id="TextBoxContainer">
                    <!--Textboxes will be added here -->
                </div>
                <br />
                
                {{done.clicky()}}
            </form>
        </p>
    </body>
{%endblock%}