{% extends "nav.html" %}

{% block content %}

<div class="container">
		<div class="row">
			<div class="col-sm" class="container2" id="background_">
					
					<h2 id = "loginbody" class= "font_HighVoltage">
							Disposal Record
					</h2>
			
					<div  id = "loginbody">

							<ul class="list-group-item">

                                    {% for item in list %}                                                       
                                  
									<li class="list-group-item d-flex justify-content-start">
                                            <div> {{ item }} </div>
                
						            </li>

                                    {% endfor %}
							</ul>
                    </div><br>
			</div>
			
			<div class="col-sm">
		
			</div>
		</div>  
</div>

{% endblock %}