{% extends "nav.html" %}

{% block content %}

<div class="container">
		<div class="row">
			<div class="col-sm" class="container2" id="background_">
					
					<h2 id = "loginbody" class= "font_HighVoltage">
							Disposal Record
					</h2>
			
					<div  id = "loginbody">

						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
								<th scope="col">#</th>
								<th scope="col">&nbsp</th>
								<th scope="col">Ingredient</th>
								<th scope="col">Quantity</th>
								<th scope="col">Disposal Reason</th>
								</tr>
							</thead>
						</table>

						<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">

											{% for number in idNumber  %}                                                       
												<div> #{{ number }} </div>
											{% endfor %}
											
										</th>

										<th scope="col">&nbsp</th>

										<th scope="col">

											{% for ingre in ingredient  %}                                                       
											<div> {{ ingre }} </div>
											{% endfor %}
											
										</th>

										<th scope="col">

											{% for quant in quantity  %}                                                       
												<div> {{ quant }} </div>
											{% endfor %}
											
										</th>

										<th scope="col">

											{% for reas in reason  %}                                                       
												<div> {{ reas }} </div>
											{% endfor %}
											
										</th>


									</tr>
								</thead>
							</table>

                    </div>
			</div>
			
		
		</div>  
</div>

{% endblock %}