<html>
    <head>
        
    </head>
    <body>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/delivered">Input ingredients</a></li>
                <li><a href="/makemenu">Enter Menu</a></li>
                <li><a href="/order">Order food</a></li>
                <li><a href="/dispose">Dispose</a></li>
                <li><a href="/stock">Check Ingredients</a></li>
                <li><a href="/gauge">Gauge mode</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/manage">Manage</a></li>
            </ul>
            <hr> 
            
            {% with messages = get_flashed_messages()%}
                {%if messages%}

                    <ul>

                        {%for message in messages%}
                        <li>{{message}}</li>
                        {%endfor%}

                    </ul>

                {%endif%}
            {%endwith%}
            
            {% block content %} {% endblock %}
    </body>

</html>