{% extends "nav.html" %}

{% block content %}

<div class="container">
		<div class="row">
			<div class="col-sm" class="container2" id="background_">
					
					<h2 id = "loginbody" class= "font_HighVoltage">
                            Food Order
                            <br>
					</h2>
                                       
                    <ul class="list-group-item">

                        <li class="list-group-item d-flex justify-content-center">
                                <div> Not enough ingredients for this order.</div>
                        </li>
                    </ul>
                        
                    <form action = "" method="POST" id = "loginbody">
                            <br>
                            {{back.hidden_tag()}}
                            {{back.back()}} 
                    </form>
			</div>
			
			<div class="col-sm">
		
			</div>
	
			<div class="col-sm">
		
			</div>
		</div>   
</div>
    
{% endblock %}