{% extends "nav.html" %}
{% block content %}

<div class="container">
		<div class="row">
			<div class="col-sm" class="container2" id="background_">
					
					<h2 id = "loginbody" class= "font_HighVoltage">
							<br>Food Order
					</h2>
					<br>	
					<form action="" method="POST"  id = "loginbody">

							{{order.hidden_tag()}}

							<ul class="list-group-item">

									<li class="list-group-item d-flex justify-content-center">
											<div> Pick a Dish</div>
											
									</li> <br>
									
									<li class="list-group-item d-flex justify-content-center">
                                            <div>{{order.dsel}}</div>
											
									</li>
							</ul>
								
							<div id = "loginbody">
								<br>{{order.order()}}
                            </div>
                            
                            {%if signal%}
                                <div class="complete">
                                    <b1>Order Complete</b1>
                                </div>
                            {%endif%}
					</form>
			</div>
			
			<div class="col-sm">
		
			</div>
	
			<div class="col-sm" >
		
			</div>
		</div>   
</div>
{%endblock%}