{% extends "nav.html" %}
{% block content %}

    <h1>
		Food Order
	</h1>

    <p>
        <input type="submit" name="appetizer1" value="Appetizer 1">
        <input type="submit" name="entree1" value="Entree 1">
        <input type="submit" name="dessert1" value="Dessert 1"> <br>

        <input type="submit" name="appetizer2" value="Appetizer 2">
        <input type="submit" name="entree2" value="Entree 2">
        <input type="submit" name="dessert2" value="Dessert 2"> <br>

        <input type="submit" name="appetizer3" value="Appetizer 3">
        <input type="submit" name="entree3" value="Entree 3">
        <input type="submit" name="dessert3" value="Dessert 3"> <br>

        <input type="submit" name="appetizer4" value="Appetizer 4">
        <input type="submit" name="entree4" value="Entree 4">
        <input type="submit" name="dessert4" value="Dessert 4"> <br>

        <input type="submit" name="appetizer5" value="Appetizer 5">
        <input type="submit" name="entree5" value="Entree 5">
        <input type="submit" name="dessert5" value="Dessert 5"> <br>
    </p>
{%endblock%}