{% extends "nav.html" %}
{% block content %}

<div class="container">
		<div class="row">
			<div class="col-sm" class="container2" id="background_">
					
					<h2 id = "loginbody" class= "font_HighVoltage" style="color: limegreen;">
                            Success!
                            <br>
					</h2>
                                       
                    <ul class="list-group-item">

                        <li class="list-group-item d-flex justify-content-center" style="font-weight: bolder;">
                                <div > You order has been processed.</div>
                        </li>
                    </ul>
                        
                    <form action = "" method="POST" id = "loginbody">
                            
                            {{order.hidden_tag()}}
                            {{order.ret(class="btn btn-info")}} 
                    </form>
			</div>
			
			<div class="col-sm">
		
			</div>
	
			<div class="col-sm" >
		
			</div>
		</div>   
</div>
{%endblock%}