
    <h1>
        New User Registration
    </h1>
    
    {% with messages = get_flashed_messages()%}
		{%if messages%}

			<ul id = "flash2">

				{%for message in messages%}
					<font color="red">{{message}}</font>
				{%endfor%}

			</ul>

		{%endif%}
	{%endwith%}

    <div class = "content-section">
        <form action="" method="POST">
                {{form.hidden_tag()}}
            <p>
                {{form.username.label}}<br>
                {{form.username(size=32)}}
            </p>

            <p>
                {{form.password.label}}<br>
                {{form.password(size=32)}}
            </p>

            <p>
                {{form.passwordVer.label}}<br>
                {{form.passwordVer(size=32)}}
            </p>

            <p>
                {{form.submit()}} <a href="/login">Back to Login</a>
            </p>

        </form>
    </div>
